
.container {
    min-width: 100vw;
    min-height: 100vh;
    margin: -.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 2rem;
}

.button {
    font-size: 25px;
    background-color: blue;
    padding: 0 3rem;
}

.buttons > *:nth-child(3) {
    font-size: 40px;
}

/*Actions*/
.left-icons {
    font-size: 30px;
}

.right-icons {
    font-size: 30px;
}

.scissorsL, .scissorsR {
    font-size: 40px;
}

.rockL, .paperL, .scissorsL {
    transform: translateX(-100%) rotate(180deg);
    transition: all .5s ease;
}

.rockR, .paperR, .scissorsR {
    transform: translateX(100%);
    transition: all .5s ease;
}

.big-active.rockL {
    transform: scale(5) translate(26vh, -1.75vw);
}

.big-active.paperL {
    transform: scale(5) translate(26vh, -2vw);
}

.big-active.scissorsL {
    transform: scale(5) translate(26vh, -2.5vw);
}

.big-emoji.rockR {
    transform: scale(5) translate(-26vh, 2.5vw) rotate(180deg);
}

.big-emoji.paperR {
    transform: scale(5) translate(-26vh, 2vw) rotate(180deg);
}

.big-emoji.scissorsR {
    transform: scale(5) translate(-26vh, 1.25vw) rotate(180deg);
}